{#
/**
 * @file bookings.html.twig
 * Default theme implementation to present Bookings data.
 *
 * This template is used when viewing Bookings pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_bookings()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('bookings') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
