.vehicle{
    background: #ffffff;
    margin: 30px 35px;
    padding: 10px;
    padding-bottom: 1px;
}

.vehicle--detail{
    margin: 10px 15px 60px;
    padding-top: 10px;
}

 
.location{
    font-weight: bold;
    font-size: 1.2rem;
    float: left;
    margin-top: 10px;
}

.owner{
    float: right;
    margin-top: 10px;
}

.price{
    font-size:1.2rem;
    font-weight: bold;

    &--big{
        color: #ffffff;
        font-size: 1rem;
        text-align: left;
        z-index: 900;
        margin-top: -45px;
        padding-left: 5px;

        &--detail{
            @extend .price--big;
            margin-top: -65px;
            z-index: 99;
            width: 50%;
            position: relative;
        }
    }
}

.detail__image{
   margin-bottom: -20px;
}

.review{
    border: 1px solid $grey-light;
    padding: 10px;

    &--total{
        padding: 10px 0;
        font-weight: bold;
    }

    &--title{
        font-weight: bold;
        padding-bottom: 10px;
    }
}