.request{
    background-color: #ffffff; 
    color: #000000;
    padding: 15px;
    margin: 15px;
    p{
        margin:0;
        padding:0;

        &.title--request{
            padding-bottom: 10px;
        }
        &.request__date{
            font-size: 0.75rem;
        }
        &.request__adress{
            font-size: 0.8rem;
        }
        &.request__price{
            font-size: 0.8rem;
        }
    }
    .request__check{
        float: right;
        font-size: 1.5rem;
        margin-top: -5px;

        &.afwachting{
            @extend .request__check;  
            color: rgb(233, 233, 233);          
        }
        &.Goedgekeurd{
            @extend .request__check;                        
            color: $primary-color;
        }
        &.Geannuleerd{
            @extend .request__check;                        
            color: #d3670f;
        }
        &.Afgekeurd{
            @extend .request__check;                        
            color: #af0202;
        }    
    }
}

.dropdown{
    display: none;
}

.dropdown.open{
    position: absolute;
    z-index: 90;
    background: #ffffff;
    margin-top: 0;
    margin-right: 30px;
    right: 0;
    display: block;
    margin-top: 0;
    border: solid 1px #000000;

    li{
        display: block;
        color: #000;
        text-shadow: none;
        font-size: 1rem; 
        padding: 10px;
        text-align: right;
        margin: 0;
        
        &.active{
            background-color: $primary-color;
        }
    }
}

