// Variables


@import "abstracts/variables";

@import "base/base";
@import "base/typography";
@import "base/fonts";

@import "components/button";
@import "components/form";
@import "components/link";
@import "components/list";
@import "components/tab";
@import "components/table";
@import "components/message";
@import "components/slider";


@import "layout/sidebar";
@import "layout/grid";

@import "pages/detail";
@import "pages/overview";
@import "pages/book";
@import "pages/chargingpoints";
@import "pages/requests";
@import "pages/menu";
@import "pages/bookings";
@import "pages/profile";

@import "themes/theme";

@import '~fullcalendar/dist/fullcalendar.css';
