.link--login{
    margin-top: 10px;
    float: right;
    margin-right: 12.5%;
    color: #ffffff;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: darken($primary-color, 30%);
}