ul {
    list-style-type: none;
    padding: 0;

    li {
        display: inline-block;
        margin: 0 10px;
    }
}

#conditions ul {
    padding-left: 40px;
    
    li {
        display: list-item;
        list-style-type: square;
    }
}